@import "tailwindcss";

@theme{
  --color-brand-purple: #6777ef;
  --color-brand-purple-dark: #5566d4;
  --color-brand-dark: #34395e;
  --color-brand-light: #fbfdff;
  --color-brand-gray: #f1f5f9;  
}

@media print {
  body * {
    visibility: hidden !important;
  }

  .printable,
  .printable * {
    visibility: visible !important;
  }

  .printable {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
